body {
  background-color: #7CAFEA;
  font-family: Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: -95px;
  margin-bottom: 40px;
}

h1 {
  color: #fff;
  font-size: 3.2em;
  text-align: center;
  position: relative;
  top: 55px;
}

h2 {
  text-align: center;
  color: #00409b;
}

.score {
  display: flex;
  font-weight: 700;
  color: #00409b;
}
.score #ScoreGuest {
  display: block;
  text-align: left;
  width: 100%;
}

.Totalscore {
  display: flex;
  font-weight: 700;
  color: #00409b;
  margin-bottom: 30px;
}
.Totalscore #ScorePlayer {
  width: 100%;
}
.Totalscore #ScoreGuest {
  display: block;
  text-align: left;
  width: 100%;
}

.main {
  background-color: #fff;
  padding: 40px;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 12px 16px 20px -12px rgba(0, 65, 155, 0.568627451);
}

.dice {
  display: flex;
}
.dice .player1dice {
  width: 180px;
  height: 180px;
  display: flex;
}
.dice .player1dice #dice2 {
  margin-left: 20px;
}
.dice .guestdice {
  width: 180px;
  height: 180px;
  display: flex;
  margin-bottom: 20px;
}
.dice .guestdice #dice4 {
  margin-left: 20px;
}

.profile, #flex, .guestprofile {
  display: flex;
  margin-top: 20px;
}
.profile .guestprofile, #flex .guestprofile, .guestprofile .guestprofile {
  flex: 1;
  justify-content: center;
}

.profiletext {
  font-weight: 600;
  color: #4a8ae4;
}

.button {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  border: none;
  padding: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  width: 190px;
  border-radius: 30px;
  background-color: #B6CBEC;
}

.button:hover {
  background-color: #00409b;
  box-shadow: 12px 16px 20px -12px rgba(0, 65, 155, 0.568627451);
  cursor: pointer;
}

.prfimg {
  width: 51px;
  height: auto;
  margin-left: 10px;
}

.guest {
  display: grid;
  position: absolute;
  right: 0;
  margin-right: 30%;
  margin-top: 16px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
}

.question {
  position: relative;
  top: 99px;
  font-weight: 700;
  color: #fff;
  font-size: 50px;
  margin-right: -38px;
  transition: 0.5s;
}

.infobox {
  position: relative;
  margin-bottom: -23px;
  cursor: pointer;
}

.instructions {
  background-color: #4a8ae4;
  border: #00409b 4px solid;
  color: #fff;
  font-size: 13px;
  padding: 20px 15px;
  border-radius: 20px;
  width: 500px;
  position: absolute;
  left: 500%;
  top: 110%;
  transform: transLateX(-70%);
  z-index: 2;
  visibility: hidden;
}

.instructions::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLateX(-50%);
}

.infobox:hover .instructions {
  cursor: pointer;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  z-index: 1;
}

#popup {
  background-color: #7CAFEA;
  border: #7CAFEA 4px solid;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  transition: all 45s ease-in-out;
  margin: 250px auto;
}

#winner {
  color: #fff;
}

#flexpop {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

#profilepop {
  width: 80px;
  height: 80px;
}

#finishtotal {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.grid {
  display: grid;
}

#close-pop-up {
  padding: 0px;
  width: 175px;
  height: 65px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  background-color: #B6CBEC;
  color: #F6F5F5;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
}

#close-pop-up:hover {
  background-color: #00409b;
  transition: 0.3s;
}

#user {
  position: relative;
  top: 10px;
  right: 10px;
  font-weight: 700;
  font-size: 20px;
}

.buttondiv {
  display: flex;
  justify-content: center;
}

.theTitle {
  cursor: pointer;
}

.titlebox {
  background-color: #7CAFEA;
  padding: 10px 20px;
  z-index: 1;
  margin-bottom: -10px;
}

.theTitle:hover {
  cursor: pointer;
}

@media (max-width: 1360px) {
  .guest {
    display: contents;
  }
  .flex {
    display: block;
  }
  .dice .player1dice {
    width: auto;
    height: 240px;
  }
  .dice .guestdice {
    width: auto;
    height: 240px;
  }
}
@media (max-width: 730px) {
  .infobox {
    width: auto;
  }
  .guest {
    display: contents;
  }
  .flex {
    display: block;
  }
  .dice .player1dice {
    width: auto;
    height: 140px;
  }
  .dice .guestdice {
    width: auto;
    height: 140px;
  }
}